In [43]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [44]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [45]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [46]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# temp_june = session.query(Measurement.date,Measurement.tobs).\ #challenge only asked for temp not date , tempt
temp_june = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "06") #could add .all() to make into list

In [47]:
#  3. Convert the June temperatures to a list.
# list_june = list(temp_june) #this should also make a list
list_june = temp_june.all()

In [48]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
import pandas as pd
# df = pd.DataFrame(list_june, columns =['Date','Temp']) #challenge is only asking for temp not date , tempt
june_df = pd.DataFrame(list_june, columns =['June Temp'])
# df.head() #checking df for content

In [49]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

         June Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [50]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
temp_dec = session.query(Measurement.tobs).\
filter(func.strftime("%m",Measurement.date)=="12")

In [51]:
# 7. Convert the December temperatures to a list.
list_dec = temp_dec.all()

In [52]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(list_dec, columns=["Dec Temp"])
dec_df.head()

   Dec Temp
0      76.0
1      74.0
2      74.0
3      64.0
4      64.0

In [53]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

          Dec Temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [74]:
# filter temps to one station
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').\
filter(func.strftime("%m",Measurement.date)=="12")

In [76]:
new_dec_df = pd.DataFrame(results, columns = ['Dec Temp'])
new_dec_df.head()

   Dec Temp
0      72.0
1      71.0
2      72.0
3      74.0
4      66.0

In [77]:
new_dec_df.describe()

         Dec Temp
count  217.000000
mean    69.903226
std      3.803609
min     58.000000
25%     68.000000
50%     70.000000
75%     73.000000
max     79.000000

In [103]:
# filter temps to one station
results_june = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').\
filter(func.strftime("%m",Measurement.date)=="06")

In [105]:
new_june_df = pd.DataFrame(results_june, columns=['June Temp'])
new_june_df.head()

   June Temp
0       71.0
1       71.0
2       72.0
3       72.0
4       76.0

In [106]:
new_june_df.describe()

        June Temp
count  236.000000
mean    73.271186
std      2.989801
min     65.000000
25%     71.000000
50%     73.000000
75%     75.000000
max     82.000000